@charset "UTF-8";

@media screen and (min-width: 768px){
    #navegar{
        display: none;
    }

    menu{
        display: block;
    }
    menu li {
        display: inline-block;
    }
    menu ul {
        text-align: center;
    }

    main{
        width: 700px;
    }
}